.Container-fluid {
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    margin: 1em;
    padding: 1em;
    text-align: left;
    background-color: #C9DDEC;
    /* margin-left: 100px; */
  }
  
  .form {
    padding: 1em;
  }
  
  label {
    font-weight: 600;
  }

  a{
    cursor: pointer;
  }

  .center {
    text-align: center;
  }

  .background-supervisor{
    
      height: 100vh;
      background-color:#141b2d;
      background-size:100px; 
      color: rgb(0, 0, 0);
      overflow: auto;
      position:relative;
      background-repeat: no-repeat;
      background-position: center;
      
    }

  